.footer {
  padding-top: 64px;
  padding-bottom: 78px;
  background-color: $darkGray;

  @include breakpoint(mobile-sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    position: relative;
    flex-direction: column;
    row-gap: 88px;

    @include breakpoint(mobile-sm) {
      row-gap: 40px;
    }
  }

  &__content {
    justify-content: space-between;
    column-gap: 80px;

    @include breakpoint(tablet-sm) {
      flex-direction: column;
    }
  }

  &__left {
    flex-direction: column;
    flex: 0 1 478px;

    @include breakpoint(tablet-sm) {
      flex-basis: auto;
    }
  }

  &__logo {
    margin-bottom: 12px;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #858585;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 400;

    @include breakpoint(tablet-sm) {
      max-width: 70%;
    }

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }
  }

  &__form,
  &__input {
    width: 100%;
  }

  &__form {
    position: relative;
    margin-bottom: 30px;
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  &__right {
    padding-top: 33px;
    column-gap: 80px;

    @include breakpoint(mobile-sm) {
      padding-top: 30px;
      flex-direction: column;
    }

    &-title {
      color: #9D9D9D;
      line-height: 32px;;
    }

    &-list {
      flex-direction: column;
      row-gap: 10px;

      @include breakpoint(mobile-sm) {
        margin-bottom: 30px;
      }
    }

    &-wrap {
      position: relative;

      &-top {
        margin-bottom: 42px;
        align-items: flex-start;
        column-gap: 101px;

        @include breakpoint(mobile-sm) {
          margin-bottom: 0;
          flex-direction: column;
        }
      }

      &-bottom {
        @include breakpoint(mobile-sm) {
          margin-bottom: 60px;
        }
      }
    }
  }

  &__copy {
    justify-content: space-between;
    align-items: center;

    &-to-top {
      & svg rect,
      & svg path {
        transition: stroke .3s ease;
      }

      &:hover {
        & svg rect,
        & svg path {
          stroke: $primary;
        }
      }
    }

    &-text {
      line-height: 32px;
      color: #9D9D9D;
    }
  }

  &__btn {
    @include breakpoint(tablet-sm) {
      position: absolute;
      top: 24px;
      right: 20px;
    }

    @include breakpoint(mobile-sm) {
      top: auto;
      bottom: 0;
      left: 0;
    }
  }
}
