.hero {
  background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(47, 61, 48) 70%, rgb(43, 43, 43) 100%);
  background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(47, 61, 48) 70%, rgb(43, 43, 43) 100%);
  background: linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(47, 61, 48) 70%, rgb(43, 43, 43) 100%);

  &__main {
    margin: 0 auto;
    max-width: 60%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    background-color: $darkGray;
    border-radius: 6px;
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 90%;
  }

  &__benefit {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    padding: 30px 40px 35px;
    flex: 0 1 calc(25%);
    min-height: 253px;
    background-color: $darkGray;
    border-radius: 6px;

    &s {
      padding-top: 60px;
      padding-bottom: 100px;
      column-gap: 20px;
    }

    &-title {
      margin-bottom: 10px;
    }
  }
}

.for-who {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    gap: 20px;
    flex-wrap: wrap;
  }

  &__item {
    align-items: center;
    justify-content: space-between;
    flex: 0 1 calc(50% - 20px);
    min-height: 280px;
    background-color: $darkGray;
    border: 1px solid $darkGray;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .3s ease, border-color .3s ease;

    &-left {
      padding: 30px;
      padding-right: 17px;
      max-width: 43%;
    }

    &-text {
      position: relative;
      max-width: 218px;

      &_main,
      &_hidden {
        transition: opacity .3s ease;
      }

      &_hidden {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }

    &-right {
      position: relative;
      margin: -1px -1px -1px -1px;
      width: 57%;
      min-height: calc(100% + 2px);
      border-radius: 12px;
      border: 1px solid #334336;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #334336;

      &_wallet {
        background-image: url('../src/images/for-who/wallet.png');
      }

      &_bell {
        background-image: url('../src/images/for-who/bell.png');
      }

      &_trophy {
        background-image: url('../src/images/for-who/trophy.png');
      }

      &_folder {
        background-image: url('../src/images/for-who/folder.png');
      }

      &_rocket {
        background-image: url('../src/images/for-who/rocket.png');
      }

      &_dollar {
        background-image: url('../src/images/for-who/dollar.png');
      }
    }

    &:hover {
      background-color: transparent;
      border-color: $gray;

      & .for-who__item-text {
        &_main {
          opacity: 0;
        }

        &_hidden {
          opacity: 1;
        }
      }

      & .for-who__item-right_wallet {
        background: url('../src/images/for-who/wallet.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;
      }

      & .for-who__item-right_bell {
        background: url('../src/images/for-who/bell.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_trophy {
        background: url('../src/images/for-who/trophy.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_folder {
        background: url('../src/images/for-who/folder.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_rocket {
        background: url('../src/images/for-who/rocket.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_dollar {
        background: url('../src/images/for-who/dollar.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }
    }
  }
}

.competitor-base {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $darkGray;

  &__container {
    justify-content: space-between;
    column-gap: 50px;
  }

  &__content {
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__sale {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 40px;
  }

  &__image {
    flex: 0 0 57%;
    min-height: 100%;
    background: url('../src/images/people/competitor-base.png') no-repeat 100% 50% / contain;
  }
}

.free-report {
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-linear-gradient(180deg, rgb(46, 58, 47), rgb(43, 43, 43) 40%);
  background: -moz-linear-gradient(180deg, rgb(46, 58, 47), rgb(43, 43, 43) 40%);
  background: linear-gradient(180deg, rgb(46, 58, 47), rgb(43, 43, 43) 40%);

  &__wrap {
    padding: 60px 50px;
    background-color: $darkGray;
    border-radius: 12px;
    column-gap: 50px;
  }

  &__content {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    max-width: 670px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 480px;
  }

  &__btns {
    align-items: center;
    column-gap: 46px;
  }

  &__image {
    flex: 0 0 42%;
    min-height: 100%;
    background: url('../src/images/more/report.png') no-repeat 100% 50% / contain;
  }
}

.cases {
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__case {
    position: relative;
    min-height: 600px;

    &_green {
      background-color: #334336;
    }

    &_blue {
      background-color: #343D4B;
    }

    &_yellow {
      background-color: #4B4734;
    }

    &_purple {
      background-color: #4B343F;
    }

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(50% - 20px);
      overflow: hidden;
      display: flex;

      & img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 40px 40px 40px 0;
      max-width: 50%;
    }

    &-top {
      margin-bottom: 115px;
      flex-direction: column;
      row-gap: 10px;
    }

    &-result {
      align-items: center;
      column-gap: 10px;

      &-percent {
        font-size: 30px;
        line-height: 1.3;
        font-weight: 500;
      }

      & svg {
        margin-left: 8px;
      }
    }

    &-title {
      margin-bottom: 20px;
    }

    &-subtitles {
      margin-bottom: 60px;
      align-items: center;
      column-gap: 16px;
    }

    &-subject {
      padding: 14.5px 23.5px;
      background-color: $dark;
      border-radius: 6px;
      color: $lightGray;
    }

    &-employ {
      color: $lightGray;
    }
  }

  &__link {
    display: block;
    text-align: center;

    &-container {
      padding-top: 30px;
    }
  }
}

.supplier-base {
  padding-top: 100px;
  background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(47, 61, 48) 50%, rgb(43, 43, 43) 90%);
  background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(47, 61, 48) 50%, rgb(43, 43, 43) 90%);
  background: linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(47, 61, 48) 50%, rgb(43, 43, 43) 90%);

  &__container {
    justify-content: space-between;
    column-gap: 50px;
  }

  &__wrap {
    padding: 35px 53px 35px 76px;
    width: 100%;
    justify-content: space-between;
    column-gap: 20px;
    background-color: $darkGray;
  }

  &__content {
    padding-top: 32px;
    padding-bottom: 109px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;

  }

  &__sale {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    margin-bottom: 40px;
  }

  &__image {
    flex: 0 0 calc(50% - 20px);
    min-height: 100%;
    background: url('../src/images/more/supplier-base.png') no-repeat 100% 50% / contain;
  }
}

.blog {
  padding-top: 100px;

  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    max-width: 520px;
    color: $lightGray;
  }
}

.article {
  padding: 30px;
  flex: 0 1 calc(50% - 20px);
  min-height: 320px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $darkGray;
  border-radius: 12px;

  &s {
    flex-wrap: wrap;
    gap: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 20px;
    max-width: 65%;
    color: $lightGray;
  }

  &__bottom {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.reviews {
  padding-top: 100px;

  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.review {
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  flex: 0 1 calc(50% - 20px);
  min-height: 506px;
  background-color: $darkGray;
  border-radius: 12px;

  &__avatar {
    margin-bottom: 22px;
    width: 75px;
    height: 75px;
  }

  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;

    &-right {
      column-gap: 18px;
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 500;
  }

  &__link-icon {
    transition: transform .3s ease;

    &:hover {
      transform: translateY(-3px);
    }

    &-decor {
      display: block;
      width: 1px;
      min-height: 100%;
    }
  }

  &__descr {
    margin-bottom: 20px;
  }
}

.cta {
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(46, 58, 47));
  background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(46, 58, 47));
  background: linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(46, 58, 47));
  overflow: hidden;

  &__container {
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__contacts {
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 calc((100% / 3) - 20px);

    &-top {
      margin-bottom: 40px;
    }

    &-list {
      flex-direction: column;
      row-gap: 10px;
    }

    &-link {
      position: relative;
      padding: 18px;
      display: block;
      background-color: $darkGray;
      border: 1px solid $darkGray;
      border-radius: 12px;
      transition: background-color .3s ease, border-color .3s ease;

      &:hover {
        background-color: transparent;
        border-color: $gray;
      }
    }

    &-avatar {
      margin-bottom: 22px;
    }

    &-title {
      margin-bottom: 20px;

      &_top {
        margin-bottom: 12px;
      }
    }

    &-icon {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }

  &__form {
    position: relative;
    flex: 0 1 calc((100% / 12 * 7) - 20px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      right: -50vw;
      bottom: 0;
      background-color: $darkGray;
    }
  }
}

.socials {
  &__title {
    margin-bottom: 10px;
    color: $lightGray;
  }

  &__list {
    gap: 10px;
  }

  &__link {
    & svg rect {
      transition: stroke .3s ease;
    }

    & svg path {
      transition: fill .3s ease;
    }

    &_telegram {
      &:hover {
        & svg rect {
          stroke: #2FADE7;
        }

        & svg path {
          fill: #2FADE7;
        }
      }
    }

    &_vk {
      &:hover {
        & svg rect {
          stroke: #4E9EFF;
        }

        & svg path {
          fill: #4E9EFF;
        }
      }
    }

    &_youtube {
      &:hover {
        & svg rect {
          stroke: #FF0000;
        }

        & svg path {
          fill: #FF0000;
        }
      }
    }

    &_dzen {
      &:hover {
        & svg rect {
          stroke: #959595;
        }

        & svg path {
          fill: #959595;
        }
      }
    }

    &_odnoklass {
      &:hover {
        & svg rect {
          stroke: #EF8024;
        }

        & svg path {
          fill: #EF8024;
        }
      }
    }
  }
}

.form {
  padding: 50px 0 60px 90px;
  background-color: $darkGray;
  border-radius: 12px 0 0 12px;
  flex-direction: column;
  row-gap: 20px;

  &__wrap {
    justify-content: space-between;
    gap: 20px;
  }

  &__input {
    flex: 0 0 calc(50% - 10px);
  }

  &__textarea {
    resize: none;
    min-height: 143px;
  }

  &__file {
    margin-bottom: 60px;
    align-items: center;
    column-gap: 8px;
  }

  &__btn {
    border: 1px solid $primary;
    transition: background-color .3s ease;

    &:hover {
      background-color: $primary;
    }
  }
}
