// ГЛАВНАЯ, УСЛУГА hero
.hero {
  &-main {
    background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(30, 38, 30) 70%, rgb(43, 43, 43) 100%);
    background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(30, 38, 30) 70%, rgb(43, 43, 43) 100%);
    background: linear-gradient(180deg, rgb(43, 43, 43) 30%, rgb(30, 38, 30) 70%, rgb(43, 43, 43) 100%);
  }

  &_service {
    padding-bottom: 50px;

    @include breakpoint(tablet-sm) {
      padding-bottom: 25px;
    }

    @include breakpoint(mobile-sm) {
      padding-bottom: 20px;
    }
  }

  &__main {
    margin: 0 auto;
    max-width: 60%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpoint(tablet-sm) {
      max-width: 75%;
    }

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }

    &_service {
      max-width: 80%;

      @include breakpoint(tablet-sm) {
        max-width: 90%;
      }

      @include breakpoint(mobile-sm) {
        max-width: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 10px;

    &_service {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    background-color: $darkGray;
    color: $grayText;
    border-radius: 6px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 18px;
    }

    @include breakpoint(mobile-sm) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 90%;

    @include breakpoint(tablet-sm) {
      font-size: 16px;
      line-height: 1.5;
    }

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }
  }

  &__benefit {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    padding: 30px 30px 35px;
    flex: 0 1 25%;
    min-height: 255px;
    background-color: $darkGray;
    border-radius: 6px;

    @include breakpoint(tablet-sm) {
      flex-basis: calc(50% - 10px);
    }

    @include breakpoint(mobile-sm) {
      padding: 20px;
      flex-basis: 100%;
      min-height: 217px;
    }

    &s {
      padding-top: 60px;
      padding-bottom: 50px;
      column-gap: $gap;

      @include breakpoint(tablet-sm) {
        padding-top: 50px;
        padding-bottom: 25px;
        flex-wrap: wrap;
        row-gap: $gap;
      }

      @include breakpoint(mobile-sm) {
        padding-top: 42px;
        padding-bottom: 20px;
        row-gap: calc($gap / 2);
      }
    }

    &-title {
      margin-bottom: 10px;
    }
  }
}

// ГЛАВНАЯ для кого
.for-who {
  &__title {
    margin-bottom: 20px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 35px;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 20px;
    }
  }

  &__list {
    justify-content: space-between;
    gap: $gap;
    flex-wrap: wrap;

    @include breakpoint(mobile-sm) {
      row-gap: calc($gap / 2);
    }
  }

  &__item {
    align-items: center;
    justify-content: space-between;
    flex: 0 1 calc(50% - 10px);
    min-height: 280px;
    background-color: $darkGray;
    border: 1px solid $darkGray;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .3s ease, border-color .3s ease;

    @include breakpoint(tablet-sm) {
      flex-basis: 100%;
      min-height: 201px;
    }

    @include breakpoint(mobile-sm) {
      min-height: 126px;
    }

    &-left {
      padding: 30px;
      padding-right: 17px;
      max-width: 43%;

      @include breakpoint(tablet-sm) {
        max-width: 50%;
        width: 50%;
      }

      @include breakpoint(mobile-sm) {
        max-width: 66%;
        width: 66%;
        padding: 20px;
      }
    }

    &-text {
      position: relative;
      max-width: 218px;

      &_main,
      &_hidden {
        transition: opacity .3s ease;
      }

      &_hidden {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }

    &-right {
      position: relative;
      margin: -1px;
      width: 57%;
      min-height: calc(100% + 2px);
      border-radius: 12px;
      border: 1px solid #334336;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #334336;

      @include breakpoint(tablet-sm) {
        width: 50%;
      }

      @include breakpoint(mobile-sm) {
        width: 33%;
        background-size: 93px;
      }

      &_wallet {
        background-image: url('../src/images/for-who/wallet.png');
      }

      &_bell {
        background-image: url('../src/images/for-who/bell.png');
      }

      &_trophy {
        background-image: url('../src/images/for-who/trophy.png');
      }

      &_folder {
        background-image: url('../src/images/for-who/folder.png');
      }

      &_rocket {
        background-image: url('../src/images/for-who/rocket.png');
      }

      &_dollar {
        background-image: url('../src/images/for-who/dollar.png');
      }
    }

    &:hover {
      background-color: transparent;
      border-color: $gray;

      & .for-who__item-text {
        &_main {
          opacity: 0;
        }

        &_hidden {
          opacity: 1;
        }
      }

      & .for-who__item-right_wallet {
        background: url('../src/images/for-who/wallet.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;
      }

      & .for-who__item-right_bell {
        background: url('../src/images/for-who/bell.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_trophy {
        background: url('../src/images/for-who/trophy.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_folder {
        background: url('../src/images/for-who/folder.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_rocket {
        background: url('../src/images/for-who/rocket.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right_dollar {
        background: url('../src/images/for-who/dollar.png') no-repeat 50% 50%, url('../src/images/for-who/line.svg') no-repeat 0% 50%, #334336;;
      }

      & .for-who__item-right {
        @include breakpoint(mobile-sm) {
          background-size: 93px;
        }
      }
    }
  }
}

// ГЛАВНАЯ баннер конкурентные базы
.competitor-base {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: $darkGray;

  @include breakpoint(tablet-sm) {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  @include breakpoint(mobile-sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__container {
    justify-content: space-between;
    column-gap: 50px;

    @include breakpoint(tablet-xs) {
      padding-left: 30px;
      padding-right: 30px;
      flex-direction: column-reverse;
    }
  }

  &__content {
    padding-top: 75px;
    padding-bottom: 75px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(tablet-xs) {
      padding-top: 48px;
      padding-bottom: 5px;
    }

    @include breakpoint(mobile-sm) {
      padding-top: 25px;
    }
  }

  &__sale {
    margin-bottom: 10px;

    @include breakpoint(tablet-xs) {
      margin-bottom: 18px;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 13px;
    }
  }

  &__descr {
    margin-bottom: 40px;
    color: $grayText;

    @include breakpoint(tablet-xs) {
      line-height: 1.5;
    }
  }

  &__image {
    flex: 0 0 57%;
    min-height: 100%;
    background: url('../src/images/people/competitor-base.png') no-repeat 0% 0% / contain;

    @include breakpoint(tablet-xs) {
      min-height: 261px;
      background-image: url('../src/images/people/competitor-base-768.png');
    }

    @include breakpoint(mobile-sm) {
      min-height: 256px;
      background-image: url('../src/images/people/competitor-base-375.png');
    }
  }
}

// ГЛАВНАЯ баннер бесплатный отчет
.free-report {
  &__wrap {
    padding: 60px 50px;
    background-color: $darkGray;
    border-radius: 12px;
    column-gap: 50px;

    @include breakpoint(tablet-xs) {
      padding: 40px 30px;
      flex-direction: column-reverse;
    }

    @include breakpoint(mobile-sm) {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 6px;
    }
  }

  &__content {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    max-width: 670px;

    @include breakpoint(tablet-xs) {
      padding-top: 40px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 40px;
    max-width: 480px;
    color: $grayText;


  }

  &__btns {
    align-items: center;
    column-gap: 46px;

    @include breakpoint(mobile-sm) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__image {
    flex: 0 0 42%;
    min-height: 100%;
    background: url('../src/images/more/report.png') no-repeat 100% 50% / contain;

    @include breakpoint(tablet-xs) {
      min-height: 279px;
      background-position: 0% 0%;
    }

    @include breakpoint(mobile-sm) {
      min-height: 173px;
    }
  }
}

// ГЛАВНАЯ баннер клиентские базы поставщиков
.supplier-base {
  background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(30, 38, 30) 50%, rgb(43, 43, 43) 90%);
  background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(30, 38, 30) 50%, rgb(43, 43, 43) 90%);
  background: linear-gradient(180deg, rgb(43, 43, 43) 10%, rgb(30, 38, 30) 50%, rgb(43, 43, 43) 90%);

  &__container {
    justify-content: space-between;
    column-gap: 50px;
  }

  &__wrap {
    padding: 30px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    column-gap: $gap;
    background-color: $darkGray;
    border-radius: 12px;

    @include breakpoint(tablet-xs) {
      flex-direction: column-reverse;
    }

    @include breakpoint(mobile-sm) {
      padding: 40px 20px;
    }
  }

  &__content {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(tablet-xs) {
      padding-bottom: 5px;
    }

    @include breakpoint(mobile-sm) {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }

  &__sale {
    margin-bottom: 10px;

    @include breakpoint(tablet-xs) {
      margin-bottom: 20px;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 13px;
    }
  }

  &__descr {
    margin-bottom: 40px;
    color: $grayText;

    @include breakpoint(tablet-xs) {
      line-height: 1.5;
    }
  }

  &__image {
    flex: 0 0 calc(50% + 20px);
    min-height: 100%;
    background: url('../src/images/more/supplier-base.png') no-repeat 0% 0% / contain;

    @include breakpoint(tablet-xs) {
      min-height: 476px;
    }

    @include breakpoint(mobile-sm) {
      margin-left: -20px;
      min-height: 271px;
    }
  }
}

// УСЛУГИ
.services {
  $root: &;

  padding-bottom: 100px;

  @include breakpoint(tablet-sm) {
    padding-bottom: 50px;
  }

  @include breakpoint(mobile-sm) {
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {
    justify-content: space-between;
    gap: $gap;

    @include breakpoint(tablet-sm) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 1 calc(100% / 3);
  }

  &__link {
    padding: 40px 43px 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    border: 1px solid $gray;
    border-radius: 6px;
    transition: background-color .3s ease, border-color .3s ease;

    @include breakpoint(laptop-xs) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include breakpoint(mobile-sm) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &-icon {
      margin-bottom: 20px;
      width: 100px;
      height: 100px;
      background: url('../src/icons/services/present.svg') no-repeat 50% 50%, $darkGray;
      border-radius: 20px;
      transition: background-color .3s ease;

      @include breakpoint(mobile-sm) {
        margin-bottom: 10px;
        width: 56px;
        height: 56px;
        border-radius: 6px;
        background-size: 25px;
      }
    }

    &-title {
      margin-bottom: 30px;

      @include breakpoint(mobile-sm) {
        margin-bottom: 20px;
        max-width: 70%;
      }
    }

    &-categories {
      margin-top: auto;
      align-self: normal;
      column-gap: $gap;
      justify-content: space-between;

      @include breakpoint(tablet-sm) {
        align-self: center;
      }

      @include breakpoint(mobile-sm) {
        gap: calc($gap / 2);
      }
    }

    &-category {
      padding: 10px;
      flex: 1 1 56px;
      background-color: $darkGray;
      border-radius: 6px;
      transition: background-color .3s ease;
    }

    &:hover {
      border-color: $darkGray;
      background-color: $darkGray;

      & .services__link-icon {
        background-color: #4B343F;
      }

      & .services__link-category {
        background-color: $dark;
      }
    }
  }
}

.safeguards {
  &__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20px;

    &_znak {
      background: url('../src/icons/services/znak.svg') no-repeat 50% 50%, $darkGray;
    }

    &_safe {
      background: url('../src/icons/services/cloud.svg') no-repeat 50% 50%, $darkGray;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
      width: 56px;
      height: 56px;
      border-radius: 6px;
      background-size: 25px;
    }
  }

  &__title {
    margin-bottom: 20px;
    max-width: 500px;
  }

  &__descr {
    max-width: 65%;

    @include breakpoint(tablet-xs) {
      max-width: 90%;
    }

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }
  }
}

.service-quote {
  &__title {
    margin: 0 auto 40px;
    text-align: center;
    max-width: 85%;

    @include breakpoint(tablet-sm) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__list {
    justify-content: space-between;
    gap: $gap;

    @include breakpoint(mobile-sm) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 30px;
    flex: 0 1 calc(50% - 10px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $darkGray;
    border-radius: 12px;

    @include breakpoint(mobile-sm) {
      padding: 20px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 12px;
      width: 50px;
      height: 50px;
    }
  }

  &__name {
    margin-bottom: 2px;
  }

  &__position {
    margin-bottom: 20px;
    font-size: 16px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  &__descr {
    max-width: 90%;

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }
  }
}

.reports {
  &__title {
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 8px;
    flex-direction: column;

    @include breakpoint(mobile-sm) {
      padding-left: 0;
    }
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $gray;

    &:last-child {
      border-bottom: 1px solid $gray;
    }

    @include breakpoint(mobile-sm) {
      flex-direction: column;
      align-items: normal;
      row-gap: $gap;
    }

    &-content {
      max-width: 75%;

      @include breakpoint(mobile-sm) {
        max-width: 100%;
      }
    }

    &-title {
      margin-bottom: 10px;
    }

    &-descr {
      max-width: 768px;
    }

    &-link {
      @include breakpoint(mobile-sm) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.bases-info {
  &__list {
    margin-bottom: 30px;
    column-gap: 20px;
    row-gap: 10px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__item {
    padding: 50px;
    flex: 0 1 calc(50% - 10px);
    flex-direction: column;

    @include breakpoint(tablet-sm) {
      padding: 40px 30px;
    }

    @include breakpoint(mobile-sm) {
      padding: 20px;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-list {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__bottom {
    padding: 18px;
    column-gap: 28px;
    justify-content: center;
    align-items: center;

    @include breakpoint(tablet-sm) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    @include breakpoint(mobile-sm) {
      padding: 11px 20px;
    }

    &-text {
      @include breakpoint(tablet-sm) {
        font-size: 18px;
      }

      @include breakpoint(mobile-sm) {
        font-size: 16px;
      }
    }
  }

  &__item,
  &__bottom {
    background-color: $darkGray;
    border-radius: 12px;
  }
}

// КЕЙСЫ
.cases {
  flex-direction: column;
  row-gap: 10px;

  &-page {
    padding-bottom: 50px;

    @include breakpoint(tablet-sm) {
      padding-bottom: 25px;
    }

    @include breakpoint(mobile-sm) {
      padding-bottom: 20px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 23px;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
    }
  }

  &__case {
    position: relative;
    min-height: 600px;

    &_green {
      background-color: #334336;
    }

    &_blue {
      background-color: #343D4B;
    }

    &_yellow {
      background-color: #4B4734;
    }

    &_purple {
      background-color: #4B343F;
    }

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(50% - 20px);
      overflow: hidden;
      display: flex;

      @include breakpoint(tablet-sm) {
        bottom: auto;
        left: 0;
        width: 100%;
        height: 420px;
      }

      @include breakpoint(mobile-sm) {
        height: 300px;
      }

      & img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 40px 40px 40px 0;
      max-width: 50%;

      @include breakpoint(tablet-sm) {
        padding-top: 470px;
        padding-left: 10px;
        padding-bottom: 50px;
        max-width: 90%;
      }

      @include breakpoint(mobile-sm) {
        padding: 330px 0 40px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &-top {
      margin-bottom: 115px;
      flex-direction: column;
      row-gap: 10px;

      @include breakpoint(mobile-sm) {
        margin-bottom: 40px;
        row-gap: 20px;
        order: 2;
      }
    }

    &-result {
      align-items: center;
      column-gap: 10px;

      @include breakpoint(mobile-sm) {
        justify-content: space-between;
      }

      &-percent {
        font-size: 30px;
        line-height: 1.3;
        font-weight: 500;
      }

      & svg {
        margin-left: 8px;
      }
    }

    &-title {
      margin-bottom: 20px;
    }

    &-subtitles {
      margin-bottom: 60px;
      align-items: center;
      column-gap: 16px;

      @include breakpoint(mobile-sm) {
        margin-bottom: 30px;
      }
    }

    &-subject {
      padding: 14.5px 23.5px;
      background-color: $dark;
      border-radius: 6px;
      color: $lightGray;
    }

    &-employ {
      color: $lightGray;
    }

    &-btn {
      @include breakpoint(mobile-sm) {
        order: 3;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;

    &-container {
      padding-top: 20px;
      width: 60%;

      @include breakpoint(tablet-sm) {
        width: 72%;
      }

      @include breakpoint(mobile-sm) {
        padding-top: 10px;
        width: 100%;
      }
    }
  }
}

// ТАРИФЫ
.tariffs {
  padding-bottom: 50px;

  @include breakpoint(tablet-sm) {
    padding-bottom: 25px;
  }

  @include breakpoint(mobile-sm) {
    padding-bottom: 20px;
  }

  &__list {
    gap: 20px;
    align-items: flex-end;

    @include breakpoint(tablet-sm) {
      gap: 10px;
      flex-wrap: wrap;
      align-items: normal;
    }
  }

  &__item {
    padding: 30px;
    flex-direction: column;
    flex: 0 1 calc(100% / 4);
    row-gap: 47px;
    justify-content: space-between;
    background-color: $darkGray;
    border-radius: 12px;

    &_1 {
      min-height: 854px;
    }

    &_2 {
      min-height: 896px;
    }

    &_3 {
      min-height: 939px;
    }

    &_4 {
      min-height: 981px;
    }

    &-sale {
      text-align: center;
    }

    @include breakpoint(laptop-xs) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include breakpoint(tablet-sm) {
      padding-left: 30px;
      padding-right: 30px;
      flex-basis: calc(50% - 5px);
      min-height: 550px;
    }

    @include breakpoint(mobile-sm) {
      padding: 20px;
      flex-basis: 100%;
      min-height: 490px;
    }

    &-title {
      margin-bottom: 20px;
      padding-bottom: 20px;
      text-align: center;
      border-bottom: 1px solid $lightGray;
    }

    &-okay {
      margin-bottom: 20px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      background-color: $dark;
      border-radius: 6px;
    }

    &-list {
      flex-direction: column;
      row-gap: 10px;
    }

    &-bottom {
      flex-direction: column;
    }

    &-number {
      margin-bottom: 18px;
      column-gap: 12px;

      & svg {
        flex: 0 0 22px;
      }
    }
  }
}

// БЛОГ
.blog {
  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(mobile-sm) {
      margin-bottom: 20px;
    }

    &-left {
      @include breakpoint(tablet-sm) {
        max-width: 60%;
      }

      @include breakpoint(mobile-sm) {
        max-width: 100%;
      }
    }

    &-link {
      @include breakpoint(mobile-sm) {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    max-width: 520px;
  }

  &__link {
    display: none;

    @include breakpoint(mobile-sm) {
      margin-top: 20px;
      display: block;
    }
  }
}

// БЛОГ карточка
.article {
  position: relative;
  padding: 30px;
  flex: 0 1 calc(50% - 10px);
  min-height: 320px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $darkGray;
  border-radius: 12px;

  @include breakpoint(tablet-sm) {
    flex-basis: 100%;
  }

  @include breakpoint(mobile-sm) {
    padding: 20px;
    padding-top: 87px;
    min-height: 252px;
  }

  &s {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    margin-bottom: 20px;
    max-width: 65%;
    color: $lightGray;
  }

  &__bottom {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(mobile-sm) {
      flex-direction: column;
    }

    & svg {
      @include breakpoint(mobile-sm) {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 55px;
        width: 55px;
      }
    }
  }

  &__link {
    @include breakpoint(mobile-sm) {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

// ОТЗЫВЫ
.reviews {
  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile-sm) {
      margin-bottom: 20px;
      justify-content: center;
    }

    &-link {
      @include breakpoint(mobile-sm) {
        display: none;
      }
    }
  }

  &__list {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $gap;

    @include breakpoint(mobile-sm) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__title {
    @include breakpoint(tablet-sm) {
      max-width: 60%;
    }

    @include breakpoint(mobile-sm) {
      max-width: 100%;
    }
  }

  &__link {
    display: none;

    @include breakpoint(mobile-sm) {
      margin-top: 20px;
      display: block;
    }
  }
}

// ОТЗЫВЫ карточка отзыва
.review {
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  flex: 0 1 calc(50% - 10px);
  min-height: 506px;
  background-color: $darkGray;
  border-radius: 12px;

  @include breakpoint(tablet-sm) {
    flex-basis: 100%;
  }

  @include breakpoint(mobile-sm) {
    padding: 20px;
    min-height: 407px;
  }

  &__content {
    position: relative;
  }

  &__avatar {
    margin-bottom: 22px;
    width: 75px;
    height: 75px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
    }
  }

  &__top {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: $gap;

    @include breakpoint(mobile-sm) {
      flex-direction: column;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 10px;
    }

    &-right {
      column-gap: 18px;

      @include breakpoint(mobile-sm) {
        position: absolute;
        top: 25px;
        right: 0;
      }
    }
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 500;

    @include breakpoint(mobile-sm) {
      margin-bottom: 0;
    }
  }

  &__link-icon {
    transition: transform .3s ease;

    @include breakpoint(mobile-xs) {
      max-width: 70px;
    }

    &:hover {
      transform: translateY(-3px);
    }

    &-decor {
      display: block;
      width: 1px;
      min-height: 100%;
      background-color: $lightGray;
    }
  }

  &__descr {
    margin-bottom: 20px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 50px;
    }

    @include breakpoint(mobile-sm) {
      margin-bottom: 20px;
    }
  }

  &__link {
    @include breakpoint(mobile-sm) {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

// CTA контакты и форма
.cta {
  padding-bottom: 100px;
  background: -webkit-linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(30, 38, 30));
  background: -moz-linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(30, 38, 30));
  background: linear-gradient(180deg, rgb(43, 43, 43) 85%, rgb(30, 38, 30));
  overflow: hidden;

  @include breakpoint(tablet-sm) {
    padding-bottom: 50px;
  }

  @include breakpoint(mobile-sm) {
    padding-bottom: 40px;
  }

  &__container {
    justify-content: space-between;

    @include breakpoint(tablet-sm) {
      flex-direction: column;
      row-gap: 50px;
    }

    @include breakpoint(mobile-sm) {
      row-gap: 40px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include breakpoint(tablet-sm) {
      margin-bottom: 20px;
    }
  }

  &__contacts {
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 calc((100% / 3) - 20px);

    &-top {
      margin-bottom: 40px;

      @include breakpoint(tablet-sm) {
        margin-bottom: 25px;
      }
    }

    &-list {
      flex-direction: column;
      row-gap: 10px;
    }

    &-link {
      position: relative;
      padding: 18px;
      display: block;
      background-color: $darkGray;
      border: 1px solid $darkGray;
      border-radius: 12px;
      transition: background-color .3s ease, border-color .3s ease;

      &:hover {
        background-color: transparent;
        border-color: $gray;
      }
    }

    &-avatar {
      margin-bottom: 22px;
    }

    &-title {
      margin-bottom: 20px;

      @include breakpoint(tablet-sm) {
        margin-bottom: 8px;
      }

      &_top {
        margin-bottom: 12px;
      }
    }

    &-icon {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }

  &__form {
    position: relative;
    flex: 0 1 calc((100% / 12 * 7) - 20px);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      right: -50vw;
      bottom: 0;
      background-color: $darkGray;

      @include breakpoint(tablet-sm) {
        display: none;
      }
    }
  }
}

// СОЦ.СЕТИ
.socials {
  &__title {
    margin-bottom: 10px;
    color: $lightGray;
  }

  &__list {
    gap: 10px;

    @include breakpoint(mobile-sm) {
      justify-content: space-between;
    }
  }

  &__link {
    & svg {
      @include breakpoint(mobile-sm) {
        width: 50px;
        height: 50px;
      }

      & rect {
        transition: stroke .3s ease;
      }

      & path {
        transition: fill .3s ease;
      }
    }

    &_telegram {
      &:hover {
        & svg rect {
          stroke: #2FADE7;
        }

        & svg path {
          fill: #2FADE7;
        }
      }
    }

    &_vk {
      &:hover {
        & svg rect {
          stroke: #4E9EFF;
        }

        & svg path {
          fill: #4E9EFF;
        }
      }
    }

    &_youtube {
      &:hover {
        & svg rect {
          stroke: #FF0000;
        }

        & svg path {
          fill: #FF0000;
        }
      }
    }

    &_dzen {
      &:hover {
        & svg rect {
          stroke: #959595;
        }

        & svg path {
          fill: #959595;
        }
      }
    }

    &_odnoklass {
      &:hover {
        & svg rect {
          stroke: #EF8024;
        }

        & svg path {
          fill: #EF8024;
        }
      }
    }
  }
}

// ФОРМА
.form {
  padding: 50px 0 60px 90px;
  background-color: $darkGray;
  border-radius: 12px 0 0 12px;
  flex-direction: column;
  row-gap: $gap;

  @include breakpoint(tablet-sm) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 40px 20px;
    border-radius: 12px;
  }

  @include breakpoint(mobile-sm) {
    padding-bottom: 30px;
    row-gap: calc($gap / 2);
  }

  &__wrap {
    justify-content: space-between;
    gap: $gap;

    @include breakpoint(mobile-sm) {
      flex-wrap: wrap;
      row-gap: calc($gap / 2);
    }
  }

  &__title {
    @include breakpoint(mobile-sm) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  &__input {
    flex: 0 0 calc(50% - 10px);

    @include breakpoint(mobile-sm) {
      flex-basis: 100%;
    }
  }

  &__textarea {
    resize: none;
    min-height: 143px;
  }

  &__file {
    margin-bottom: 60px;
    align-items: center;
    column-gap: 8px;

    @include breakpoint(mobile-sm) {
      margin-bottom: 50px;
    }
  }
}
