// colors
$primary: #3D7C40;
$primaryHover: #5AA65D;
$dark: #2B2B2B;
$lightGray: #C9C9C9;
$gray: #494949;
$darkGray: #333333;
$grayText: #D9D9D9;
$light: #FFFFFF;

// font-family
$rubik: 'Rubik', sans-serif;


// texts
%text-btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

%title-main {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 600;
}

%title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
}

%title-small {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;
}

%text-primary {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

%text-small {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
