// colors
$primary: #3D7C40;
$primaryHover: #5AA65D;
$dark: #2B2B2B;
$lightGray: #C9C9C9;
$gray: #494949;
$darkGray: #333333;
$grayText: #D9D9D9;
$light: #FFFFFF;

// font-family
$rubik: 'Rubik', sans-serif;

// gap
$gap: 20px;

// breakpoints
$breakpoints: (
  mobile-xs: 374px,
  mobile-sm: 767px,
  tablet-xs: 1023px,
  tablet-sm: 1199px,
  laptop-xs: 1439px
);
@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }
  @else {
    @media screen and (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

// texts
%text-btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;

  @include breakpoint(mobile-sm) {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
}

%title-main {
  font-size: 60px;
  line-height: 1.3;
  font-weight: 600;

  @include breakpoint(tablet-sm) {
    font-size: 40px;
  }

  @include breakpoint(mobile-sm) {
    font-size: 30px;
  }
}

%title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;

  @include breakpoint(mobile-sm) {
    font-size: 24px;
    line-height: 1.3;
  }
}

%title-small {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 600;

  @include breakpoint(mobile-sm) {
    font-size: 18px;
    font-weight: 500;
  }
}

%text-primary {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;

  @include breakpoint(mobile-sm) {
    font-size: 14px;
  }
}

%text-small {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;

  @include breakpoint(mobile-sm) {
    font-size: 14px;
  }
}
